#header-social  ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    z-index: 2;
    position: relative;
}
#header-social  ul li {
    float: left;
    position: relative;
}
#header-social  ul a {
    
    text-decoration: none;
    background-image: url(../images/social.png);
    background-repeat: no-repeat;
    display: block;
    height: 50px;
    text-indent: -9000px;
    position: relative;
}
#header-social  .facebook a {
    width:45px;
    background-position: -0px -0px;
    position: relative;
    
}
#header-social .facebook a:hover {
    background-position: -0px -45px;
    
}
#header-social  .twitter a {
    width:45px;
    background-position: -45px 0px;
    position: relative;
    
}
#header-social  .twitter a:hover {
    background-position: -45px -45px;
    
}
#header-social  .youtube a {
    width:45px;
    background-position: -90px 0px;
    position: relative;
    
}
#header-social  .youtube a:hover {
    background-position: -90px -45px;
    
}
#f-soc {
    position: relative;
    float: left;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom:30px;
}
#f-soc ul {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    z-index: 2;
    position: relative;
}
#f-soc  ul li {
    float: left;
    position: relative;
    margin-right: 5px;
}
#f-soc  ul a {
    
    text-decoration: none;
    background-image: url('../images/f-soc.png');
    background-repeat: no-repeat;
    display: block;
    height:33px;
    text-indent: -9000px;
    position: relative;
}
#f-soc .f-rss a {
    width: 33px;
    background-position: 0px 0px;
    z-index: 1;
    
}
#f-soc  .f-rss a:hover {
    background-position: 0px -33px;
}
#f-soc  .f-facebook a {
    background-position: -33px 0px;
    z-index: 1;
    width: 33px;
}
#f-soc  .f-facebook a:hover {
    background-position: -33px -33px;
}
#f-soc  .f-twitter a {
    background-position: -66px 0px;
    z-index: 1;
    width: 33px;    
}
#f-soc  .f-twitter a:hover {
    background-position: -66px -33px;
}
#f-soc  .f-youtube a {
    background-position: -99px 0px;
    z-index: 1;
    width: 33px;    
}
#f-soc  .f-youtube a:hover {
    background-position: -99px -33px;
}